.wrapper {
	max-width: 1200px;
	height: 600px;
	background: #FFF;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.30);
	margin-top: 50px;
}

.header {
	.element {
		display: flex;
		align-items: center;
		gap: 20px;
		border-bottom: 1px solid rgba(128, 128, 128, 0.1);
	}
}

.main {
	height: 561px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;

	.box{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

button:active{
	opacity: .5;
}